@import '~antd/dist/antd.css';
.container {
  min-height: 100vh;
}

.nav-footer {
  background-color: #d1cbca;
  text-align: center;
  font-size: large;
}

.content {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}

.width-50 {
  width: 50%;
}

.flex {
  display: flex;
}
